ion-menu-button {
  color: #fff;
}
ion-title {
  color: #fff;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  padding-top: 10px;
  text-align: left;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.center{
  text-align: center;
}

img {
  width: 200px;
	height: 175px;
	background: #dac52c;
	border-radius: 300%;
  width: 160px;
  height: 155px;
  position: sticky;

}
